tools/proto/easyp_vendor
.idea
deployments/.kubectl.config.yaml
.env
.env.production
bin
examples/test.yaml
examples/test.json
examples/dump_test.go
web/node_modules
web/dist
*.tsbuildinfo
tests/e2e/node_modules
tests/e2e/report
tests/e2e/test-results