# GENERATED by scripts/openapi_merge.py from openapi/parts/*.yaml — edit the parts.
openapi: 3.1.0
info:
  title: Stroppy Cloud API
  version: 1.0.0
  x-pipeline-contract-version: 1.0.0
  summary: Database benchmarking as a service — product server over Graphene CI.
  description: "The Stroppy Cloud HTTP API. The server owns tenants, the benchmark\nlibrary (databases,\
    \ workloads, tests), runs and their results; provisioning,\nagents and observability are Graphene's;\
    \ identity is IAM's.\n\nNamespaces:\n  - `/api/v1/public/...`      no auth\n  - `/api/v1/me`, `/api/v1/tenants`\
    \   caller scope\n  - `/api/v1/t/{slug}/...`    tenant scope (membership required)\n  - `/api/v1/catalog/...`\
    \     read-only reference data (any authenticated caller)\n  - `/api/v1/admin/...`       platform\
    \ admin\n  - `/api/v1/ws`              one WebSocket for every live stream (see README)\n\nAuthentication:\
    \ `Authorization: Bearer <token>` where token is either an IAM\naccess token (people) or a Stroppy\
    \ API token (`stc_...`, personal or tenant\nservice token). IAM itself is reverse-proxied same-origin\
    \ under `/v1/*`.\n\nErrors: RFC 9457 `application/problem+json` with a stable machine `code`;\ndomain\
    \ validation failures carry `validation` — a schemapb\n`ValidationResult` (protoJSON) with per-field\
    \ `path`/`code`.\n\nForms: any request field marked `x-schema: <id>` is a schemapb value; fetch\n\
    the schema from `/api/v1/catalog/schemas/{id}` and validate with\n`/api/v1/catalog/schemas/{id}:validate`.\
    \ One validation on every door.\n"
  license:
    name: Proprietary
servers:
- url: https://cloud.stroppy.io
  description: Production
- url: http://localhost:8080
  description: Local server
tags:
- name: Public
  description: Config, catalog, rating, shared pages, health. No auth.
- name: Me
  description: Profile, preferences, personal API tokens.
- name: Tenants
  description: Tenant lifecycle, members, invites, service tokens.
- name: Tenant Settings
  description: Defaults, provider profiles, quotas, limits, webhooks.
- name: Catalog
  description: Reference data — databases, providers/sizes, stroppy, examples, schemas, metrics.
- name: Databases
  description: Database definitions (engine, version, topology, configs).
- name: Workloads
  description: Workload definitions (stroppy version, protocol, segments).
- name: Tests
  description: Test definitions — database × workload × sizes; validation and launch.
- name: Runs
  description: Runs — status, overview, logs, metrics, artifacts, actions.
- name: Compare
  description: Ad-hoc comparison of runs.
- name: Suites
  description: Suites (tests × axes → cells) and suite runs.
- name: Schedules
  description: Cron schedules targeting a test or a suite.
- name: Favorites
  description: Favorites on any library or run entity.
- name: Shares
  description: Public share links and snapshots.
- name: Rating
  description: Tenant rating.
- name: Admin
  description: Platform administration.
x-tagGroups:
- name: Public
  tags:
  - Public
- name: Account
  tags:
  - Me
  - Tenants
- name: Tenant
  tags:
  - Tenant Settings
  - Catalog
  - Databases
  - Workloads
  - Tests
- name: Execution
  tags:
  - Runs
  - Compare
  - Suites
  - Schedules
- name: Results
  tags:
  - Favorites
  - Shares
  - Rating
- name: Platform
  tags:
  - Admin
security:
- bearerAuth: []
paths:
  /api/v1/public/config:
    get:
      operationId: getPublicConfig
      tags:
      - Public
      security: []
      summary: Public bootstrap config for the SPA.
      responses:
        '200':
          description: Config.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicConfig'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/public/catalog:
    get:
      operationId: getPublicCatalog
      tags:
      - Public
      security: []
      summary: Supported databases, versions, topologies and providers.
      responses:
        '200':
          description: Catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCatalog'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/public/rating:
    get:
      operationId: getPublicRating
      tags:
      - Public
      security: []
      summary: Global rating (opt-in runs only).
      parameters:
      - $ref: '#/components/parameters/ratingMetric'
      - $ref: '#/components/parameters/ratingKind'
      - $ref: '#/components/parameters/ratingVersion'
      - $ref: '#/components/parameters/ratingProvider'
      - $ref: '#/components/parameters/ratingStroppy'
      - $ref: '#/components/parameters/ratingLeague'
      - $ref: '#/components/parameters/ratingPeriod'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Rating page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/public/share/{token}:
    get:
      operationId: getPublicShare
      tags:
      - Public
      security: []
      summary: Shared snapshot (run, suite run or comparison).
      parameters:
      - $ref: '#/components/parameters/shareToken'
      responses:
        '200':
          description: Snapshot.
          headers:
            X-Robots-Tag:
              schema:
                type: string
              description: noindex
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareSnapshot'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/public/share/{token}/metrics:
    get:
      operationId: getPublicShareMetrics
      tags:
      - Public
      security: []
      summary: Metrics for a shared run over a window (scope +metrics).
      parameters:
      - $ref: '#/components/parameters/shareToken'
      - $ref: '#/components/parameters/windowStart'
      - $ref: '#/components/parameters/windowEnd'
      responses:
        '200':
          description: Metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunMetrics'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/public/share/{token}/grafana-session:
    post:
      operationId: createPublicShareGrafanaSession
      tags:
      - Public
      security: []
      summary: Mint the Grafana scope cookie for a shared run.
      parameters:
      - $ref: '#/components/parameters/shareToken'
      responses:
        '200':
          description: Session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrafanaSession'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/public/share/{token}/export:
    get:
      operationId: exportPublicShare
      tags:
      - Public
      security: []
      summary: Export the shared report.
      parameters:
      - $ref: '#/components/parameters/shareToken'
      - $ref: '#/components/parameters/exportFormat'
      responses:
        '200':
          description: Report file.
          content:
            text/markdown:
              schema:
                type: string
            application/pdf:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: object
                additionalProperties: true
            text/csv:
              schema:
                type: string
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/public/health:
    get:
      operationId: getPublicHealth
      tags:
      - Public
      security: []
      summary: Health of the server and its dependencies.
      responses:
        '200':
          description: Health.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/me:
    get:
      operationId: getMe
      tags:
      - Me
      summary: Current profile, tenants and preferences.
      responses:
        '200':
          description: Profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Me'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: patchMe
      tags:
      - Me
      summary: Update display name, avatar, preferences, notifications.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MePatch'
      responses:
        '200':
          description: Profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Me'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/me/tokens:
    get:
      operationId: listMyTokens
      tags:
      - Me
      summary: Personal API tokens.
      responses:
        '200':
          description: Tokens.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiToken'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createMyToken
      tags:
      - Me
      summary: Create a personal API token scoped to one tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiTokenCreate'
      responses:
        '201':
          description: Token (secret shown once).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTokenCreated'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/me/tokens/{id}:
    delete:
      operationId: revokeMyToken
      tags:
      - Me
      summary: Revoke a personal API token.
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tenants:
    get:
      operationId: listMyTenants
      tags:
      - Tenants
      summary: Tenants the caller belongs to.
      responses:
        '200':
          description: Tenants.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TenantMembership'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createTenant
      tags:
      - Tenants
      summary: Create the caller's own tenant (one per account).
      description: 'Creates the Graphene namespace `t-<slug>`, pushes the pipelines and

        records the tenant with the caller as owner. Fails with

        `tenant_limit_reached` if the caller already owns one.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantCreate'
      responses:
        '201':
          description: Tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tenants/suggest-name:
    get:
      operationId: suggestTenantName
      tags:
      - Tenants
      summary: Unique name/slug suggestion derived from the account.
      responses:
        '200':
          description: Suggestion.
          content:
            application/json:
              schema:
                type: object
                required:
                - name
                - slug
                properties:
                  name:
                    type: string
                  slug:
                    type: string
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tenants/{slug}:
    get:
      operationId: getTenant
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Tenant details.
      responses:
        '200':
          description: Tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: patchTenant
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Rename / describe (owner, admin).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantPatch'
      responses:
        '200':
          description: Tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      operationId: deleteTenant
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Delete the tenant (owner; no live runs). Retires the Graphene namespace.
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tenants/{slug}/members:
    get:
      operationId: listMembers
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Members and their roles.
      responses:
        '200':
          description: Members.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Member'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tenants/{slug}/members/{userId}:
    patch:
      operationId: patchMember
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/userId'
      summary: Change a member's role (owner, admin; owner role only via transfer).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - role
              properties:
                role:
                  $ref: '#/components/schemas/TenantRole'
      responses:
        '200':
          description: Member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      operationId: removeMember
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/userId'
      summary: Remove a member, or leave (self). Owner cannot leave.
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tenants/{slug}:transfer:
    post:
      operationId: transferTenant
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Transfer ownership to another member (owner).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_id
              properties:
                user_id:
                  type: string
      responses:
        '200':
          description: Tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tenants/{slug}/invites:
    get:
      operationId: listInvites
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Pending invites.
      responses:
        '200':
          description: Invites.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invite'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createInvite
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Invite by email (admin). Applied on the invitee's first sign-in if unknown.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - role
              properties:
                email:
                  type: string
                  format: email
                role:
                  $ref: '#/components/schemas/TenantRole'
                message:
                  type: string
                  maxLength: 1024
      responses:
        '201':
          description: Invite.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invite'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tenants/{slug}/invites/{id}:
    delete:
      operationId: revokeInvite
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Revoke an invite.
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/me/invites:
    get:
      operationId: listMyInvites
      tags:
      - Me
      summary: Invites addressed to the caller.
      responses:
        '200':
          description: Invites.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invite'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/me/invites/{id}:accept:
    post:
      operationId: acceptInvite
      tags:
      - Me
      parameters:
      - $ref: '#/components/parameters/id'
      summary: Accept an invite.
      responses:
        '200':
          description: Membership.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantMembership'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/me/invites/{id}:decline:
    post:
      operationId: declineInvite
      tags:
      - Me
      parameters:
      - $ref: '#/components/parameters/id'
      summary: Decline an invite.
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tenants/{slug}/tokens:
    get:
      operationId: listTenantTokens
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Tenant service tokens (admin).
      responses:
        '200':
          description: Tokens.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiToken'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createTenantToken
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Create a service token (admin; role member|viewer).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceTokenCreate'
      responses:
        '201':
          description: Token (secret shown once).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTokenCreated'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tenants/{slug}/tokens/{id}:
    delete:
      operationId: revokeTenantToken
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Revoke a service token.
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/audit:
    get:
      operationId: listTenantAudit
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - name: action
        in: query
        schema:
          type: string
      - name: actor
        in: query
        schema:
          type: string
      - name: since
        in: query
        schema:
          type: string
          format: date-time
      summary: Tenant slice of the audit log.
      responses:
        '200':
          description: Audit page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/settings:
    get:
      operationId: getTenantSettings
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Tenant defaults.
      responses:
        '200':
          description: Settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantSettings'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: patchTenantSettings
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Update defaults (admin).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantSettingsPatch'
      responses:
        '200':
          description: Settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantSettings'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/limits:
    get:
      operationId: getTenantLimits
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Effective limits (platform ceilings applied).
      responses:
        '200':
          description: Limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantLimits'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/providers:
    get:
      operationId: listProviderProfiles
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Provider profiles.
      responses:
        '200':
          description: Profiles.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProviderProfile'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createProviderProfile
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Add a provider profile (admin). Credentials go to Graphene; verification pipeline starts.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderProfileCreate'
      responses:
        '201':
          description: Profile (status `verifying`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderProfile'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/providers/{id}:
    get:
      operationId: getProviderProfile
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Provider profile.
      responses:
        '200':
          description: Profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderProfile'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: patchProviderProfile
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Rename or rotate credentials (re-verifies when credentials change).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderProfilePatch'
      responses:
        '200':
          description: Profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderProfile'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      operationId: deleteProviderProfile
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Delete a profile (no live runs on it).
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/providers/{id}:verify:
    post:
      operationId: verifyProviderProfile
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Re-run the verification pipeline.
      responses:
        '202':
          description: Verification started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderProfile'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/providers/{id}/quotas:
    get:
      operationId: getProviderQuotas
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Cloud quotas from the cache (filled by the quota pipeline).
      responses:
        '200':
          description: Quotas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaReport'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/providers/{id}/quotas:refresh:
    post:
      operationId: refreshProviderQuotas
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Run the quota pipeline now and wait for the result.
      responses:
        '200':
          description: Quotas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaReport'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/webhooks:
    get:
      operationId: listWebhooks
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Outbound webhooks.
      responses:
        '200':
          description: Webhooks.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createWebhook
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Create a webhook (admin).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '201':
          description: Webhook (secret shown once).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookCreated'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/webhooks/{id}:
    patch:
      operationId: patchWebhook
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Update url/events/enabled.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookPatch'
      responses:
        '200':
          description: Webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      operationId: deleteWebhook
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Delete a webhook.
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/webhooks/{id}:rotate-secret:
    post:
      operationId: rotateWebhookSecret
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Rotate the signing secret (24h overlap).
      responses:
        '200':
          description: Webhook with the new secret.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookCreated'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/webhooks/{id}/deliveries:
    get:
      operationId: listWebhookDeliveries
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      summary: Delivery log.
      responses:
        '200':
          description: Deliveries.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookDelivery'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/webhooks/{id}/deliveries/{deliveryId}:replay:
    post:
      operationId: replayWebhookDelivery
      tags:
      - Tenant Settings
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - name: deliveryId
        in: path
        required: true
        schema:
          type: string
      summary: Re-send a delivery.
      responses:
        '202':
          description: Queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDelivery'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/catalog/databases:
    get:
      operationId: getCatalogDatabases
      tags:
      - Catalog
      summary: Database kinds — versions, roles, topology templates, params schema id, protocols.
      responses:
        '200':
          description: Database catalog.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CatalogDatabase'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/catalog/providers:
    get:
      operationId: getCatalogProviders
      tags:
      - Catalog
      summary: Providers — zones/regions, platforms, disk types, size table per role.
      responses:
        '200':
          description: Provider catalog.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CatalogProvider'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/catalog/stroppy:
    get:
      operationId: getCatalogStroppy
      tags:
      - Catalog
      summary: Stroppy versions and per-version script catalog (steps, params).
      parameters:
      - name: version
        in: query
        schema:
          type: string
        description: Limit to one version.
      responses:
        '200':
          description: Stroppy catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StroppyCatalog'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/catalog/examples:
    get:
      operationId: listExamples
      tags:
      - Catalog
      summary: Read-only example gallery shipped with the server.
      parameters:
      - name: kind
        in: query
        schema:
          type: string
          enum:
          - database
          - workload
          - test
          - suite
      - name: db_kind
        in: query
        schema:
          $ref: '#/components/schemas/DatabaseKind'
      responses:
        '200':
          description: Examples.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Example'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/examples/{exampleId}:clone:
    post:
      operationId: cloneExample
      tags:
      - Catalog
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/exampleId'
      summary: Clone an example into the tenant library (creates the entity and its dependencies).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Created entities.
          content:
            application/json:
              schema:
                type: object
                required:
                - created
                properties:
                  created:
                    type: array
                    items:
                      $ref: '#/components/schemas/Usage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/examples/{exampleId}:quick-run:
    post:
      operationId: quickRunExample
      tags:
      - Catalog
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/exampleId'
      - $ref: '#/components/parameters/idempotencyKey'
      summary: Launch a test example as a run without saving it to the library.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LaunchOverrides'
      responses:
        '201':
          description: Run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/catalog/schemas:
    get:
      operationId: listSchemas
      tags:
      - Catalog
      summary: Registered schemapb schemas (ids, versions, titles).
      parameters:
      - name: namespace
        in: query
        schema:
          type: string
        description: db | cfg | workload | provider | spec | suite | system
      responses:
        '200':
          description: Schemas.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SchemaInfo'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/catalog/schemas/{schemaId}:
    get:
      operationId: getSchema
      tags:
      - Catalog
      parameters:
      - $ref: '#/components/parameters/schemaId'
      summary: schemapb `Schema` in protoJSON (feeds the form renderer).
      responses:
        '200':
          description: Schema.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/catalog/schemas/{schemaId}:validate:
    post:
      operationId: validateSchemaValue
      tags:
      - Catalog
      parameters:
      - $ref: '#/components/parameters/schemaId'
      summary: Validate (resolve + bake) a value; returns the result and the resolved value.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - value
              properties:
                value:
                  $ref: '#/components/schemas/SchemaValue'
      responses:
        '200':
          description: Result (200 even when invalid; check `result.errors`).
          content:
            application/json:
              schema:
                type: object
                required:
                - result
                properties:
                  result:
                    $ref: '#/components/schemas/ValidationResult'
                  resolved:
                    $ref: '#/components/schemas/SchemaValue'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/catalog/schemas/{schemaId}:render:
    post:
      operationId: renderSchemaValue
      tags:
      - Catalog
      parameters:
      - $ref: '#/components/parameters/schemaId'
      summary: Render a config value to its file form (e.g. postgresql.conf) via the schema template.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - value
              properties:
                value:
                  $ref: '#/components/schemas/SchemaValue'
                template:
                  type: string
                  default: conf
      responses:
        '200':
          description: Rendered text.
          content:
            text/plain:
              schema:
                type: string
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/catalog/metrics:
    get:
      operationId: getCatalogMetrics
      tags:
      - Catalog
      summary: Metric catalog — result metrics and per-kind DB metrics with descriptions.
      parameters:
      - name: db_kind
        in: query
        schema:
          $ref: '#/components/schemas/DatabaseKind'
      responses:
        '200':
          description: Metric catalog.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MetricDef'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/databases:
    get:
      operationId: listDatabases
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/tags'
      - $ref: '#/components/parameters/author'
      - $ref: '#/components/parameters/favorites'
      - name: kind
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/DatabaseKind'
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - name
          - created_at
          - updated_at
          - kind
          default: updated_at
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      summary: List database definitions.
      responses:
        '200':
          description: Page.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Database'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createDatabase
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Create a database definition.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseWrite'
      responses:
        '201':
          description: Database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/databases/{id}:
    get:
      operationId: getDatabase
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Database definition with topology preview, requirements, effective configs and usages.
      responses:
        '200':
          description: Database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: patchDatabase
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Update a database definition.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabasePatch'
      responses:
        '200':
          description: Database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      operationId: deleteDatabase
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - name: inline_usages
        in: query
        schema:
          type: boolean
          default: false
        description: Copy into dependents instead of failing with `entity_in_use`.
      summary: Delete (fails when referenced unless `inline_usages`).
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/databases:preview:
    post:
      operationId: previewDatabase
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Validate an unsaved definition; returns topology preview, requirements and effective configs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseWrite'
      responses:
        '200':
          description: Preview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabasePreview'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/databases/{id}:clone:
    post:
      operationId: cloneDatabase
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneRequest'
      summary: Clone.
      responses:
        '201':
          description: Database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/databases/{id}:export:
    get:
      operationId: exportDatabase
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Portable document (YAML or JSON by `Accept`).
      responses:
        '200':
          description: Document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportDocument'
            application/yaml:
              schema:
                type: string
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/databases:import:
    post:
      operationId: importDatabase
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Create or update (by `metadata.name`) from a document.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportDocument'
          application/yaml:
            schema:
              type: string
      responses:
        '200':
          description: Database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/databases:diff:
    get:
      operationId: diffDatabases
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/diffA'
      - $ref: '#/components/parameters/diffB'
      summary: Field-by-field diff of two definitions.
      responses:
        '200':
          description: Diff.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diff'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/workloads:
    get:
      operationId: listWorkloads
      tags:
      - Workloads
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/tags'
      - $ref: '#/components/parameters/author'
      - $ref: '#/components/parameters/favorites'
      - name: protocol
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/Protocol'
      - name: stroppy_version
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: script
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - name
          - created_at
          - updated_at
          - protocol
          - stroppy_version
          default: updated_at
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      summary: List workload definitions.
      responses:
        '200':
          description: Page.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workload'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createWorkload
      tags:
      - Workloads
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Create a workload definition.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkloadWrite'
      responses:
        '201':
          description: Workload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workload'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/workloads/{id}:
    get:
      operationId: getWorkload
      tags:
      - Workloads
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Workload definition.
      responses:
        '200':
          description: Workload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workload'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: patchWorkload
      tags:
      - Workloads
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkloadPatch'
      responses:
        '200':
          description: Workload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workload'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      operationId: deleteWorkload
      tags:
      - Workloads
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - name: inline_usages
        in: query
        schema:
          type: boolean
          default: false
      summary: Delete.
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/workloads:preview:
    post:
      operationId: previewWorkload
      tags:
      - Workloads
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Validate an unsaved definition; returns requirements.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkloadWrite'
      responses:
        '200':
          description: Preview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadPreview'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/workloads/{id}:clone:
    post:
      operationId: cloneWorkload
      tags:
      - Workloads
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneRequest'
      summary: Clone.
      responses:
        '201':
          description: Workload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workload'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/workloads/{id}:export:
    get:
      operationId: exportWorkload
      tags:
      - Workloads
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Portable document.
      responses:
        '200':
          description: Document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportDocument'
            application/yaml:
              schema:
                type: string
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/workloads:import:
    post:
      operationId: importWorkload
      tags:
      - Workloads
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Create or update from a document.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportDocument'
          application/yaml:
            schema:
              type: string
      responses:
        '200':
          description: Workload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workload'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/workloads:diff:
    get:
      operationId: diffWorkloads
      tags:
      - Workloads
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/diffA'
      - $ref: '#/components/parameters/diffB'
      summary: Diff of two definitions.
      responses:
        '200':
          description: Diff.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diff'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/tests:
    get:
      operationId: listTests
      tags:
      - Tests
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/tags'
      - $ref: '#/components/parameters/author'
      - $ref: '#/components/parameters/favorites'
      - name: status
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/TestStatus'
      - name: kind
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/DatabaseKind'
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - name
          - created_at
          - updated_at
          - kind
          - last_run_at
          default: updated_at
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      summary: List tests.
      responses:
        '200':
          description: Page.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Test'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createTest
      tags:
      - Tests
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Create a test (status `draft` until it validates; the wizard creates it on step one).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestWrite'
      responses:
        '201':
          description: Test.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Test'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/tests/{id}:
    get:
      operationId: getTest
      tags:
      - Tests
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Test with resolved references, validation and last runs.
      responses:
        '200':
          description: Test.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Test'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: patchTest
      tags:
      - Tests
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Update (wizard steps patch incrementally; status recomputed).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestPatch'
      responses:
        '200':
          description: Test.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Test'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      operationId: deleteTest
      tags:
      - Tests
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Delete (runs keep their snapshots).
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/tests:validate:
    post:
      operationId: validateTest
      tags:
      - Tests
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: 'Validate an unsaved test (live form): fit, requirements, resolved refs.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestWrite'
      responses:
        '200':
          description: Validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestValidation'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/tests/{id}:launch:
    post:
      operationId: launchTest
      tags:
      - Tests
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/idempotencyKey'
      summary: Launch a run from the test (re-validates, checks limits and quotas, snapshots, starts in
        Graphene).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LaunchOverrides'
      responses:
        '201':
          description: Run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/tests/{id}:clone:
    post:
      operationId: cloneTest
      tags:
      - Tests
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneRequest'
      summary: Clone.
      responses:
        '201':
          description: Test.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Test'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/tests/{id}:export:
    get:
      operationId: exportTest
      tags:
      - Tests
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - name: inline_refs
        in: query
        schema:
          type: boolean
          default: true
        description: Embed referenced database/workload.
      summary: Portable document.
      responses:
        '200':
          description: Document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportDocument'
            application/yaml:
              schema:
                type: string
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/tests:import:
    post:
      operationId: importTest
      tags:
      - Tests
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Create or update from a document.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportDocument'
          application/yaml:
            schema:
              type: string
      responses:
        '200':
          description: Test.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Test'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/tests:diff:
    get:
      operationId: diffTests
      tags:
      - Tests
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/diffA'
      - $ref: '#/components/parameters/diffB'
      summary: Diff of two tests (with resolved references).
      responses:
        '200':
          description: Diff.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diff'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/tests/{id}/runs:
    get:
      operationId: listTestRuns
      tags:
      - Tests
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      summary: Run history of the test with a metric trend and baseline.
      responses:
        '200':
          description: History.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestRunHistory'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs:
    get:
      operationId: listRuns
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/tags'
      - $ref: '#/components/parameters/author'
      - $ref: '#/components/parameters/favorites'
      - name: status
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/RunStatus'
      - name: kind
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/DatabaseKind'
      - name: provider_profile
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: test_id
        in: query
        schema:
          type: string
          format: uuid
      - name: suite_run_id
        in: query
        schema:
          type: string
          format: uuid
      - name: standalone
        in: query
        schema:
          type: boolean
        description: Only runs not belonging to a suite run.
      - name: trigger
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/Trigger'
      - name: labels
        in: query
        schema:
          type: string
        description: Comma-separated key=value run labels.
      - name: started_after
        in: query
        schema:
          type: string
          format: date-time
      - name: started_before
        in: query
        schema:
          type: string
          format: date-time
      - name: finished_after
        in: query
        schema:
          type: string
          format: date-time
      - name: finished_before
        in: query
        schema:
          type: string
          format: date-time
      - name: duration_min
        in: query
        schema:
          type: string
        description: Go duration.
      - name: duration_max
        in: query
        schema:
          type: string
      - name: stand_kept
        in: query
        schema:
          type: boolean
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - started_at
          - finished_at
          - duration
          - tps
          - status
          - name
          - created_at
          default: created_at
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      summary: List runs.
      responses:
        '200':
          description: Page.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Run'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs:facets:
    get:
      operationId: getRunFacets
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Facet values for the run list filters.
      responses:
        '200':
          description: Facets.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Facet'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}:
    get:
      operationId: getRun
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Run record with snapshot and summary.
      responses:
        '200':
          description: Run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: patchRun
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Rename; edit notes, labels, rating flags.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunPatch'
      responses:
        '200':
          description: Run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      operationId: deleteRun
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Soft-delete; cascades the Graphene run (stand, artifacts). Live runs must be cancelled
        first.
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}/overview:
    get:
      operationId: getRunOverview
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Live overview — phases, components, machines/agents, resources. Same shape as the `run.overview`
        WS topic.
      responses:
        '200':
          description: Overview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunOverview'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}/tree:
    get:
      operationId: getRunTree
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Raw Graphene ownership tree of the run (advanced).
      responses:
        '200':
          description: Tree.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceTree'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}/events:
    get:
      operationId: listRunEvents
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - name: after
        in: query
        schema:
          type: string
        description: Event cursor.
      - $ref: '#/components/parameters/limit'
      summary: Timeline events (phases, segments, machines, failures).
      responses:
        '200':
          description: Events.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunEvent'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}/logs:
    get:
      operationId: queryRunLogs
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - name: role
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: machine
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: container
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: stream
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - stdout
            - stderr
            - journal
            - pipeline
      - name: phase
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: segment
        in: query
        schema:
          type: string
      - name: level
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - debug
            - info
            - warn
            - error
      - $ref: '#/components/parameters/windowStart'
      - $ref: '#/components/parameters/windowEnd'
      - name: q
        in: query
        schema:
          type: string
          maxLength: 512
        description: Substring / phrase search.
      - name: cursor
        in: query
        schema:
          type: string
        description: Opaque (`_time`+`seq`).
      - name: direction
        in: query
        schema:
          type: string
          enum:
          - older
          - newer
          default: older
      - $ref: '#/components/parameters/limit'
      summary: Typed log query (VictoriaLogs behind, scope forced to the run).
      responses:
        '200':
          description: Lines.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}/logs:facets:
    get:
      operationId: getRunLogFacets
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Facet counts for the log filters.
      responses:
        '200':
          description: Facets.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Facet'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}/logs:raw:
    post:
      operationId: queryRunLogsRaw
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: LogsQL query, AND-ed with the run scope by the server.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - query
              properties:
                query:
                  type: string
                  maxLength: 4096
                start:
                  type: string
                  format: date-time
                end:
                  type: string
                  format: date-time
                limit:
                  type: integer
                  maximum: 5000
                  default: 1000
      responses:
        '200':
          description: Lines.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}/metrics:
    get:
      operationId: getRunMetrics
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - name: segment
        in: query
        schema:
          type: string
        description: Window = this workload segment.
      - $ref: '#/components/parameters/windowStart'
      - $ref: '#/components/parameters/windowEnd'
      - name: keys
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        description: Metric keys from the catalog; all when omitted.
      - name: step
        in: query
        schema:
          type: string
        description: Series step
        Go duration.: null
      summary: Typed metrics (catalog keys) over a window — series + aggregates.
      responses:
        '200':
          description: Metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunMetrics'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}/metrics:raw:
    post:
      operationId: queryRunMetricsRaw
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: PromQL range query with the run label injected by the server.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - query
              - start
              - end
              properties:
                query:
                  type: string
                  maxLength: 4096
                start:
                  type: string
                  format: date-time
                end:
                  type: string
                  format: date-time
                step:
                  type: string
      responses:
        '200':
          description: Prometheus range result (as returned by VictoriaMetrics).
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}/grafana-session:
    post:
      operationId: createRunGrafanaSession
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Mint the Grafana scope cookie and dashboard links for the run.
      responses:
        '200':
          description: Session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrafanaSession'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}/artifacts:
    get:
      operationId: listRunArtifacts
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Artifacts (stroppy raw, report, rendered configs).
      responses:
        '200':
          description: Artifacts.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Artifact'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}/artifacts/{artifactId}:
    get:
      operationId: downloadRunArtifact
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - name: artifactId
        in: path
        required: true
        schema:
          type: string
      summary: Download an artifact (streams from Graphene).
      responses:
        '200':
          description: Bytes.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}/export:
    get:
      operationId: exportRun
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/exportFormat'
      summary: Export the run report.
      responses:
        '200':
          description: Report file.
          content:
            text/markdown:
              schema:
                type: string
            application/pdf:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: object
                additionalProperties: true
            text/csv:
              schema:
                type: string
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}:cancel:
    post:
      operationId: cancelRun
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: 'Cancel (member: own runs; admin: any). Teardown follows.'
      responses:
        '200':
          description: Run (status `cancelling`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}:keep-extend:
    post:
      operationId: extendRunKeep
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Extend the stand lifetime (bounded by `max_keep`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - duration
              properties:
                duration:
                  type: string
                  description: Go duration added from now.
      responses:
        '200':
          description: Run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}:keep-release:
    post:
      operationId: releaseRunKeep
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Tear the kept stand down now.
      responses:
        '200':
          description: Run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}:rerun:
    post:
      operationId: rerunRun
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/idempotencyKey'
      summary: New run from this run's snapshot (overrides allowed).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LaunchOverrides'
      responses:
        '201':
          description: Run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}:save-as-test:
    post:
      operationId: saveRunAsTest
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Create a Test (with inline database/workload) from the snapshot.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 128
                save_database_as:
                  type: string
                  description: Also create a library Database with this name.
                save_workload_as:
                  type: string
                  description: Also create a library Workload with this name.
      responses:
        '201':
          description: Test.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Test'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/runs/{id}:share:
    post:
      operationId: shareRun
      tags:
      - Shares
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Create a public share of the run.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareCreate'
      responses:
        '201':
          description: Share.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Share'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/compare:
    post:
      operationId: compareRuns
      tags:
      - Compare
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Compare 2..16 runs — metrics with verdicts and a spec diff against the baseline.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompareRequest'
      responses:
        '200':
          description: Comparison.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comparison'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/compare:share:
    post:
      operationId: shareComparison
      tags:
      - Shares
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Publish a comparison snapshot.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CompareRequest'
              - $ref: '#/components/schemas/ShareCreate'
      responses:
        '201':
          description: Share.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Share'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/suites:
    get:
      operationId: listSuites
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/tags'
      - $ref: '#/components/parameters/author'
      - $ref: '#/components/parameters/favorites'
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - name
          - created_at
          - updated_at
          - last_run_at
          - cell_count
          default: updated_at
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      summary: List suites.
      responses:
        '200':
          description: Page.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Suite'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createSuite
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Create a suite.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuiteWrite'
      responses:
        '201':
          description: Suite.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Suite'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/suites/{id}:
    get:
      operationId: getSuite
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Suite with computed cells.
      responses:
        '200':
          description: Suite.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Suite'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: patchSuite
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuitePatch'
      responses:
        '200':
          description: Suite.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Suite'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      operationId: deleteSuite
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Delete (schedules targeting it are disabled).
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/suites:preview:
    post:
      operationId: previewSuite
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Compute cells for an unsaved suite with totals, quota check and validation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuiteWrite'
      responses:
        '200':
          description: Preview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuitePreview'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/suites/{id}:launch:
    post:
      operationId: launchSuite
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/idempotencyKey'
      summary: Start a suite run.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuiteLaunch'
      responses:
        '201':
          description: Suite run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuiteRun'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/suites/{id}:clone:
    post:
      operationId: cloneSuite
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneRequest'
      summary: Clone.
      responses:
        '201':
          description: Suite.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Suite'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/suites/{id}:export:
    get:
      operationId: exportSuite
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Portable document.
      responses:
        '200':
          description: Document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportDocument'
            application/yaml:
              schema:
                type: string
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/suites:import:
    post:
      operationId: importSuite
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      summary: Create or update from a document.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportDocument'
          application/yaml:
            schema:
              type: string
      responses:
        '200':
          description: Suite.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Suite'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/suites/{id}/runs:
    get:
      operationId: listSuiteRunsOfSuite
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      summary: Suite runs of this suite.
      responses:
        '200':
          description: Page.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SuiteRun'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/suite-runs:
    get:
      operationId: listSuiteRuns
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      - name: status
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/RunStatus'
      - name: suite_id
        in: query
        schema:
          type: string
          format: uuid
      - name: trigger
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/Trigger'
      - name: started_after
        in: query
        schema:
          type: string
          format: date-time
      - name: started_before
        in: query
        schema:
          type: string
          format: date-time
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - started_at
          - finished_at
          - duration
          - status
          - progress
          default: started_at
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      summary: List suite runs.
      responses:
        '200':
          description: Page.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SuiteRun'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/suite-runs/{id}:
    get:
      operationId: getSuiteRun
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Suite run with cells.
      responses:
        '200':
          description: Suite run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuiteRun'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      operationId: deleteSuiteRun
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Soft-delete the suite run and its child runs.
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/suite-runs/{id}/summary:
    get:
      operationId: getSuiteRunSummary
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - name: compare_to
        in: query
        schema:
          type: string
          format: uuid
        description: Previous suite run; defaults to the latest earlier one of the same suite.
      summary: Results table across cells with a comparison to a previous suite run.
      responses:
        '200':
          description: Summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuiteRunSummary'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/suite-runs/{id}:cancel:
    post:
      operationId: cancelSuiteRun
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      summary: Cancel (cascades to child runs).
      responses:
        '200':
          description: Suite run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuiteRun'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/t/{slug}/suite-runs/{id}:retry-failed:
    post:
      operationId: retryFailedSuiteRun
      tags:
      - Suites
      parameters:
      - $ref: '#/components/parameters/slug'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/idempotencyKey'
      summary: New suite run over the failed/cancelled cells only.
      responses:
        '201':
          description: Suite run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuiteRun'
        default:
          $ref: '#/components/responses/Problem'
[...]
